<!-- IF S_CALENDAR_INPUT -->
<div class="calendar-input" data-max-events="{CALENDAR_MAX_EVENTS}"
data-min-date="{CALENDAR_MIN_DATE}" data-max-date="{CALENDAR_MAX_DATE}"
data-min-gap="{CALENDAR_MIN_GAP}" data-max-gap="{CALENDAR_MAX_GAP}"
data-min-length="{CALENDAR_MAX_LENGTH}" data-max-length="{CALENDAR_MIN_LENGTH}">

<dl>
	<dt><label for="calendar_date_start[0]">
		<!-- IF S_CALENDAR_TIME_INPUT -->{L_CALENDAR_EVENT_DATE}
		<!-- ELSE -->{L_CALENDAR_EVENT_DATE}<!-- ENDIF -->{L_COLON}
	</label>
	
	</dt>
	<dd>
		<input type="text" name="calendar_date_start[0]" id="calendar_date_start" size="10" maxlength="10"  value="{CALENDAR_DATE_START}" class="inputbox autowidth" placeholder="{CALENDAR_DATE_FORMAT}" />
		<!-- IF S_CALENDAR_TIME_INPUT -->
		<select type="select" name="calendar_hour_start[0]" class="inputbox autowidth" style="display:none;">

		</select>
		<select type="select" name="calendar_minute_start[0]" class="inputbox autowidth">

		</select>
		<!-- ENDIF -->
		<!-- IF S_CALENDAR_TO_INPUT -->
		{L_CALENDAR_TO}{L_COLON}
		<input type="text" name="calendar_date_end[0]" id="calendar_date_end" size="10" maxlength="10"  value="{CALENDAR_DATE_END}" class="inputbox autowidth" placeholder="{CALENDAR_DATE_FORMAT}"/>
		<!-- IF S_CALENDAR_TIME_INPUT -->
		<select type="select" name="calendar_hour_end[0]" class="inputbox autowidth" >
		</select>
		<select name="calendar_minute_end[0]" class="inputbox autowidth" >
		</select>
		<!-- ENDIF -->
		<!-- ENDIF -->
		<a class="add-another" style="display:none;" id="add-another">[{L_CALENDAR_ADD_ANOTHER}]</a>
		<a class="recurrent" style="display:none;" id="recurrent">[{L_CALENDAR_RECURRENT}]</a>
	</dd>

</dl>
</div>

<!-- ENDIF -->


<!-- INCLUDEJS @marttiphpbb_calendar/calendar_input.js -->

<!-- IF S_CALENDAR_JQUERY_UI_DATEPICKER_JS -->
	<!-- INCLUDEJS @marttiphpbb_calendar/jquery-ui/ui/minified/datepicker.min.js -->
<!-- ENDIF -->

<!-- IF CALENDAR_USER_LANG_SHORT != 'en' and S_CALENDAR_JQUERY_UI_DATEPICKER_I18N_JS -->
	<!-- INCLUDEJS @marttiphpbb_calendar/jquery-ui/ui/i18n/datepicker-{CALENDAR_USER_LANG_SHORT}.js -->
<!-- ENDIF -->
