/* posting */

div.calendar-input a.add-another
{
	cursor: pointer;
}

div.calendar-input a.recurrent
{
	cursor: pointer;
}

/* calendar page */

.icon-calendar 	{ background-image: url("./images/icon_calendar.gif"); }
.icon-moon-new 	{ background-image: url("./images/moon_new.gif"); }
.icon-moon-q1 	{ background-image: url("./images/moon_first_quarter.gif"); }
.icon-moon-full	{ background-image: url("./images/moon_full.gif"); }
.icon-moon-q3	{ background-image: url("./images/moon_third_quarter.gif"); }

div.calendar div.calendar-panel table
{
	border-collapse: collapse;
	font-size: 1.3em;
	color: #ddd;
	width: 100%;
	border-spacing: 5px 5px;
	table-layout: fixed;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
 	text-align: left;
}

div.calendar div.calendar-panel table div
{
	overflow: hidden;
	text-overflow: ellipsis;
}

div.calendar table tbody td a
{
	font-size: 1.3em;
	color: #eee;
}

div.calendar table tbody td.focus a
{
	color: #222277;
}

.moon
{
	background-position: 0% 50%;
	background-repeat: no-repeat;
	background-size: 8px 8px;
	cursor: default;
	font-size: 8px;
	float: left;
}

.moon span
{
	padding-left: 10px;
}

.isoweek
{
	font-style: italic;
	font-size: 0.5em;
	float: right;
	clear: right;
	padding-right: 5px;
}

td.focus .isoweek
{
	color: #000088;
}

div.calendar table td > div
{
	margin: 0 3px;
	padding: 0 7px;
	height: 1.5em;
	width: auto;
}

div.calendar table td > div > span
{
	font-size: .7em;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-align: left;
}

div.calendar td.mon.focus div,
div.calendar td.tue.focus div,
div.calendar td.wed.focus div,
div.calendar td.thu.focus div,
div.calendar td.fri.focus div
{
	background-color: #f0f8ff;
	color: #333355;
}

div.calendar td.sat.focus div,
div.calendar td.sun.focus div
{
	background-color: #daecfb;
	color: #333355;
}

div.calendar td.today.focus div
{
	background-color: #cadceb;
	color: #333355;
}

div.calendar table tbody tr:first-child td > div
{
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	margin-top: 3px;
}

div.calendar table tbody tr:last-child td > div
{
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	margin-bottom: 3px;
}

div.calendar table tbody tr td:first-child div
{
	margin-left: 0;
}

div.calendar table tbody tr td:last-child div
{
	margin-right: 0;
}

.evt div
{
	height: auto;
}

.evt  div a
{
	height: 100%;
}

@media only screen and (max-width: 500px), only screen and (max-device-width: 500px)
{
	 div.calendar div.moon > span
	 {
		 display: none;
	 }
	 div.calendar td > div > span
	 {
		 display: none;
	 }
	 div.calendar td div.isoweek
	 {
		 display: none;
	 }
}
