
<!-- IF .forums -->

	<div id="calendar_input_fc">
		<fieldset class="calendar-filter">
			<dl>
				<dt><label for="calendar_input_forums">{L_CALENDAR_FORUMS}:</label></dt>
				<dd>
					<select id="calendar_input_forums" name="fc[]" multiple="multiple" size="15">
						<!-- BEGIN forums -->
							<option value="{forums.VALUE}"<!-- IF forums.S_SELECTED --> selected="selected"<!-- ENDIF -->>
								{forums.NAME}
							</option>
						<!-- END forums -->
					</select>
				</dd>
				<dt>&nbsp;</dt>
				<dd>
				<em style="cursor:pointer;" id="calendar_forums_all">{L_SELECT_ALL}</em> {L_COLON}
				<em style="cursor:pointer;" id="calendar_forums_none">{L_DESELECT_ALL}</em>
				&nbsp;<input type="submit" value="{L_GO}" name="set" class="button2"/>
				</dd>
			</dl>
		</fieldset>
	</div>
<!-- ENDIF -->

	<div class="clear"></div>
</div>

<!-- ENDIF -->

<br/><hr/><br/>
