<!-- INCLUDE overall_header.html -->

<p>{CURRENT_TIME}</p>
<h2><a href="{U_CALENDAR}">{L_CALENDAR}</a></h2>

<form id="postform" method="post" action="{S_POST_ACTION}">

<div class="panel forumbg">
<div class="calendar">

<!-- INCLUDE calendar_navigation.html -->

<!-- BEGIN table -->
<div class="spacer"></div>
<table>

	<!-- BEGIN month -->
		<colgroup class="{table.month.CLASS_MONTH}<!-- IF not table.month.S_FOCUS --> blur<!-- ENDIF -->">
		<!-- BEGIN day -->
			<col class="{table.month.day.CLASS_WEEKDAY}"/>
		<!-- END day -->
		</colgroup>
	<!-- END month -->

	<!-- IF .table.headrow -->
		<thead>
			<!-- BEGIN headrow -->
				<tr>
				<!-- BEGIN day -->
					<th<!-- IF table.headrow.day.MOON and S_DISPLAY_MOON-->class="{table.headrow.day.CLASS_MOON}"<!-- ENDIF -->>
					{table.headrow.day.WEEKDAY}&nbsp;{table.headrow.day.MONTHDAY}
					<!-- IF table.headrow.day.N_WEEKDAY == 1 and S_DISPLAY_ISOWEEK -->
						<span class="week-num">{table.headrow.day.WEEK_NUM}</span>
					<!-- ENDIF -->
					</th>
				<!-- END day -->
				</tr>
			<!-- END -->
		</thead>
	<!-- ENDIF -->

	<!-- BEGIN -->
	<!-- END -->

		<!-- BEGIN row --><tr{table.row.PARAM}>
			<!-- BEGIN cell --><td{table.row.cell.PARAM}>{table.row.cell.TEXT}</td><!-- END cell -->
		</tr>
		<!-- END row -->
	</table>
	<div class="table-spacer"></div>
	<!-- END table -->

<!-- INCLUDE calendar_navigation.html -->

</div>
</div>

<div class="panel">

<!-- IF S_FILTERBOX -->
<!-- INCLUDE calendar_filterbox.html -->
<!-- ENDIF -->

{S_FORM_TOKEN}

<input type="hidden" name="mid_jd" value="n" id="mid_jd"/>
</form>

<!-- INCLUDE jumpbox.html -->

</div>

<!-- INCLUDE overall_footer.html -->
