<dl id="cdl0" >
	<dt id="cdt0"><label id="cfrom0">{L_CALENDAR_PERIOD_FROM}:</label></dt>
	<dd id="cdd0">
	<select name="cal_month[]" id="cm0" onchange="change_cal(this)" style="width: 5em;" title="{L_CALENDAR_MONTH}">{S_CALENDAR_MONTH_OPTIONS}</select>
	<select name="cal_day[]" id="cd0" onchange="change_cal(this)" style="width: 4em;" title="{L_CALENDAR_DAY}">{S_CALENDAR_DAY_OPTIONS}</select>
	<select name="cal_year[]" id="cy0" onchange="change_cal(this)" style="width: 5em;" title="{L_CALENDAR_YEAR}">{S_CALENDAR_YEAR_OPTIONS}</select>
	<label id="cto0" class="cl-bold">{L_CALENDAR_TO}:</label>
	<select name="cal_month[]" id="cm1" onchange="change_cal(this)" style="width: 5em;" title="{L_CALENDAR_MONTH}">{S_CALENDAR_MONTH_OPTIONS_TO}</select>
	<select name="cal_day[]" id="cd1" onchange="change_cal(this)" style="width: 4em;" title="{L_CALENDAR_DAY}">{S_CALENDAR_DAY_OPTIONS_TO}</select>
	<select name="cal_year[]" id="cy1" onchange="change_cal(this)" style="width: 5em;" title="{L_CALENDAR_YEAR}" >{S_CALENDAR_YEAR_OPTIONS_TO}</select>
	<a id="cal_add_0" onclick="add_calendar_period();" style="cursor:pointer;display:none;">[{L_CALENDAR_ADD_PERIOD}]</a>
	</dd>
</dl>

<a id="cal_ins" onclick="add_calendar_period();" style="display:none;">[{L_CALENDAR_ADD_PERIOD}]</a>
