<!-- INCLUDE overall_header.html -->

<p>{CURRENT_TIME}</p>
<h2>{MONTH} <!-- IF U_YEAR --><a href="{U_YEAR}">{YEAR}</a><!-- ELSE -->{YEAR}<!-- ENDIF --></h2>

<div class="calendar">

<div class="action-bar">
<div class="pagination">
<!-- INCLUDE pagination.html -->
</div>
</div>

<div class="calendar-panel">

<table>
<!-- BEGIN week -->
<tbody>
	<tr>
	<!-- BEGIN day -->
		<td class="{week.day.CLASS}<!-- IF week.day.S_BLUR --> blur<!-- ENDIF --><!-- IF week.day.S_TODAY and S_TODAY --> today<!-- ENDIF -->">
			<div>
				<span class="mday">{week.day.MDAY}</span>
				<span>{week.day.NAME}</span>
			</div>
		</td>
	<!-- END day -->
	</tr>

	<tr>
	<!-- BEGIN day -->
	<td class="{week.day.CLASS}<!-- IF week.day.S_BLUR --> blur<!-- ENDIF --><!-- IF week.day.S_TODAY and S_TODAY --> today<!-- ENDIF -->">
			<div>
			<!-- IF week.day.MOON_NAME and S_MOONPHASE -->
			 	<div class="moon">
					<span class="fa-stack">
						<i class="icon fa-circle fa-stack-2x fa-inverse"></i>						
						<i class="icon {week.day.MOON_ICON} fa-stack-1x"></i>
					</span> {week.day.MOON_TIME}
				</div>
			<!-- ENDIF -->
			<!-- IF week.day.CLASS == 'mon' and S_ISOWEEK -->
				<div class="isoweek">{week.ISOWEEK}</div>
			<!-- ENDIF -->
			</div>
		</td>
	<!-- END day -->
	</tr>

<!-- BEGIN eventrow -->
	<tr>
	<!-- BEGIN day -->

		<!-- IF week.eventrow.day.S_EVENT -->
		<td<!-- IF week.eventrow.day.COLSPAN --> colspan="{ week.eventrow.day.COLSPAN }"<!-- ENDIF -->>
		<div class="calendar-event">Brr popi</div>
		</td>
		<!-- ELSE -->
		<td class="{week.eventrow.day.CLASS}<!-- IF week.eventrow.day.S_BLUR --> blur<!-- ENDIF --><!-- IF week.eventrow.day.S_TODAY and S_TODAY --> today<!-- ENDIF -->">
		<div></div>
		</td>
		<!-- ENDIF -->

	<!-- END day -->
	</tr>
<!-- END eventrow -->

	<tr>

	<!-- BEGIN day -->
	<td class="{week.day.CLASS}<!-- IF week.day.S_BLUR --> blur<!-- ENDIF --><!-- IF week.day.S_TODAY and S_TODAY --> today<!-- ENDIF -->">
		<div></div>
	</td>
	<!-- END day -->
	</tr>

</tbody>
<!-- END week -->
</table>

</div>

<div class="action-bar">
<div class="pagination">
<!-- INCLUDE pagination.html -->
</div>
</div>
</div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
