<!-- INCLUDE overall_header.html -->

<p>{CURRENT_TIME}</p>
<h2>{MONTH} <!-- IF U_YEAR --><a href="{U_YEAR}">{YEAR}</a><!-- ELSE -->{YEAR}<!-- ENDIF --></h2>

<div class="calendar">

<div class="action-bar">
	<div class="pagination">
		<!-- INCLUDE pagination.html -->
	</div>
</div>

<div class="calendar-panel">

<table>
<!-- BEGIN week -->
<tbody>
	<tr>
	<!-- BEGIN day -->
		<td class="{week.day.CLASS}<!-- IF week.day.S_FOCUS --> focus<!-- ENDIF --><!-- IF week.day.S_TODAY --> today<!-- ENDIF -->">
			<div>
				<a href="{week.day.U_DAY}">{week.day.MDAY}</a>
				<span>{week.day.NAME}</span>
			</div>
		</td>
	<!-- END day -->
	</tr>

	<tr>
	<!-- BEGIN day -->
	<td class="{week.day.CLASS}<!-- IF week.day.S_FOCUS --> focus<!-- ENDIF --><!-- IF week.day.S_TODAY --> today<!-- ENDIF -->">
			<div>
			<!-- IF week.day.MOON_NAME -->
			 	<div class="moon icon-moon-{week.day.MOON_NAME}">
					<span>{week.day.MOON_TIME}</span>
				</div>
			<!-- ENDIF -->
			<!-- IF week.day.CLASS == 'mon' -->
				<div class="isoweek">{week.ISOWEEK}</div>
			<!-- ENDIF -->
			</div>
		</td>
	<!-- END day -->
	</tr>

	<tr>
	<!-- BEGIN day -->
	<td class="{week.day.CLASS}<!-- IF week.day.S_FOCUS --> focus<!-- ENDIF --><!-- IF week.day.S_TODAY --> today<!-- ENDIF -->">
			<div>
			<!-- IF week.day.MOON_NAME -->
			 	<div class="moon icon-moon-{week.day.MOON_NAME}">
					<span>{week.day.MOON_TIME}</span>
				</div>
			<!-- ENDIF -->
			<!-- IF week.day.CLASS == 'mon' -->
				<div class="isoweek">{week.ISOWEEK}</div>
			<!-- ENDIF -->
			</div>
		</td>
	<!-- END day -->
	</tr>


<!-- BEGIN eventrow -->
	<tr>
	<!-- BEGIN day -->

		<td<!-- IF week.day.S_BLUR --> class="blur"
		<!-- ELSE IF week.day.S_TODAY --> class="today"<!-- ENDIF -->>

		</td>

	<!-- END day -->
	</tr>
<!-- END eventrow -->

</tbody>
<!-- END week -->
</table>

</div>

<div class="action-bar">
<div class="pagination">
	<!-- INCLUDE pagination.html -->
</div>
</div>
</div>

<!-- IF S_FILTERBOX -->
<!-- INCLUDE calendar_filterbox.html -->
<!-- ENDIF -->
<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
