<!-- INCLUDE overall_header.html -->

<p>{{- CURRENT_TIME -}}</p>
<h2>{{- MONTH }}{%- if U_YEAR %} <a href="{{- U_YEAR -}}">{{- YEAR -}}</a>{%- else %} {{ YEAR -}}{%- endif -%}</h2>

<div class="calendar">

{%- include '@marttiphpbb_calendar/include/pagination.html' -%}

<div class="calendar-panel">

<table>
{%- for w in week -%}
<tbody>
	<tr>
	{%- for wd in day -%}
		{%- include '@marttiphpbb_calendar/include/calendar_table_td.html' %}
			<div>
				<span class="mday">{{- wd.MDAY -}}</span>
				<span>{{- wd.NAME -}}</span>
			</div>
		</td>
	{%- endfor -%}
	</tr>

	<tr>
	{%- for wd in day -%}
		{%- include '@marttiphpbb_calendar/include/calendar_table_td.html' %}
			<div>
			{%- wd.MOON_NAME and S_MOONPHASE -%}
			 	<div class="moon">
					<span class="fa-stack">
						<i class="icon fa-circle fa-stack-2x fa-inverse"></i>						
						<i class="icon {{ wd.MOON_ICON }} fa-stack-1x"></i>
					</span> {{- wd.MOON_TIME -}}
				</div>
			{%- endif -%}
			{%- wd.CLASS == 'mon' and S_ISOWEEK -%}
				<div class="isoweek" title="{L_ISOWEEK_TITLE}">{{- w.ISOWEEK -}}</div>
			{%- endif -%}
			</div>
		</td>
	{%- endfor -%}
	</tr>

{%- for e in eventrow -%}

	<tr>
	{%- for d in day -%}

		{%- if d.S_EVENT -%}
		<td{%- IF d.COLSPAN %} colspan="{{- d.COLSPAN -}}"{%- endif -%}>
		<div class="calendar-event">Brr popi</div>
		</td>
		{%- else -%}
		{%- include '@marttiphpbb_calendar/include/calendar_table_td_empty.html' %}
		{%- endif -%}

	{%- endfor -%}
	</tr>
{%- endfor -%}

	<tr>
	{%- for wd in day -%}
	{%- include '@marttiphpbb_calendar/include/calendar_table_td_empty.html' %}
	{%- endfor -%}
	</tr>

</tbody>
{%- endfor -%}
</table>

</div>

{%- include '@marttiphpbb_calendar/include/pagination.html' -%}
{%- include 'jumpbox.html' -%}
{%- include 'overall_footer.html' -%}
