<div class="marttiphpbb-calendarmonoinput" data-marttiphpbb-calendarmonoinput="{{- MARTTIPHPBB_CALENDARMONOINPUT_DATA -}}">
	<dl>
		<dt>
			<label for="calendarmonoinput_date_start">{{- lang('MARTTIPHPBB_CALENDARMONOINPUT_EVENT_DATE') -}}{{- lang('COLON') -}}</label>
		</dt>
		<dd>
			{%- embed '@marttiphpbb_calendarmonoinput/include/date_input.html' -%}
				{%- block name -%}
					calendarmonoinput_date_start
				{%- endblock -%}
				{%- block value -%}
					{{- MARTTIPHPBB_CALENDARMONOINPUT_DATE_START -}}
				{%- endblock -%}
				{%- block placeholder -%}
					{{- MARTTIPHPBB_CALENDARMONOINPUT_PLACEHOLDER_START_DATE -}}
				{%- endblock -%}
				{%- block attr -%}
					{%- if S_MARTTIPHPBB_CALENDARMONOINPUT_REQUIRED %} required{%- endif -%}
				{%- endblock -%}
				{%- block data -%}
					start
				{%- endblock -%}
			{%- endembed -%}

			{%- if S_MARTTIPHPBB_CALENDARMONOINPUT_END -%}&nbsp;
				{{- lang('MARTTIPHPBB_CALENDARMONOINPUT_TO') -}}{{- lang('COLON') -}}&nbsp;

				{%- embed '@marttiphpbb_calendarmonoinput/include/date_input.html' -%}
					{%- block name -%}
						calendarmonoinput_date_end
					{%- endblock -%}
					{%- block value -%}
						{{- MARTTIPHPBB_CALENDARMONOINPUT_DATE_END -}}
					{%- endblock -%}
					{%- block placeholder -%}
						{{- MARTTIPHPBB_CALENDARMONOINPUT_PLACEHOLDER_END_DATE -}}
					{%- endblock -%}
					{%- block attr -%}
						{%- if S_MARTTIPHPBB_CALENDARMONOINPUT_REQUIRED %} required{%- endif -%}
					{%- endblock -%}
					{%- block data -%}
						end
					{%- endblock -%}
				{%- endembed -%}
			{%- endif -%}
		</dd>
	</dl>
</div>

{%- INCLUDEJS '@marttiphpbb_calendarmonoinput/js/posting.js' -%}